<div *ngIf="data">
  <div *ngIf="isFav(data.id) === false" id="divFav">
    <button class="fa fa-heart-o" 
            id="buttonFav"
            (click)="clickFavButton(data.id)" title="Añadir a favoritos">
    </button>
  </div>
  <div *ngIf="isFav(data.id) === true"  id="divFav">
    <button class="fa fa-heart" 
            id="buttonFav"
            (click)="clickFavButton(data.id)" title="Eliminar de favoritos">
    </button>
  </div> 
  <img [src]="data.photo" class="thumbnail" (click)="productClick(data)"/>
  <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
  | Green Path      ************* DONETE *************               |
  |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
  | Un clic en el botón de compra debería enviar un evento al        |
  | componente padre.                                                |
  |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

  <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
  | Purple Path      ************* DONETE *************              |
  |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
  | Aplica el siguiente formato al precio del producto:              |
  |   - 1 dígito mínimo (parte entera)                               |
  |   - 2 dígitos mínimo y máximo (parte decimal)                    |
  |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

  <button
    class="button expanded"
    [class.success]="data.state === 'selling'"
    [class.secondary]="data.state === 'sold'"
    (click)="productClick(data)">
      <span *ngIf="data.state === 'selling'">
        Comprar por {{ data.price | number: '1.2-2' }} €
      </span>
      <span *ngIf="data.state === 'sold'">
        Ver detalles
      </span>
    </button>
</div>
